<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<a href="/player/all">Players - View All</a> <br />
<a href="/team/all">Teams - View All</a> <br />
<a href="/association/all">Associations - View All</a> <br />
<a href="/tournament/all">Tournaments - View All</a> <br />

<br />

<%- include("./includes/footer.ejs"); %>